{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Webservice ArzTI API",
    "description" : "Kommunikation des Webservers mit den jeweiligen Rechenzentren\n* UC: Abruf der eRezept-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Abruf der eMuster16-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Abruf der pRezept-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Aktualisierung des eRezept-Status - eRezept-ID\n* UC: Löschen eines eRezepts - eRezept-ID\n* UC: Aktualisierung von Kundendaten (Apotheke -> Rechenzentrum Zuordnung) - Apotheke-IK\n* UC: ... ",
    "version" : "V1"
  },
  "servers" : [ {
    "url" : "http://arzsoftware.de/v1",
    "description" : "Main (production) server"
  }, {
    "url" : "http://staging-api.arzsoftware.de",
    "description" : "Internal staging server for testing"
  } ],
  "tags" : [ {
    "name" : "RezeptID",
    "description" : "Alle Operationen für ein Rezept per Rezept-ID"
  }, {
    "name" : "RezeptUID",
    "description" : "Alle Operationen für ein Rezept per Rezept-UID"
  }, {
    "name" : "RezeptIDList",
    "description" : "Alle Operationen für RezeptListen per Rezept-ID"
  }, {
    "name" : "RezeptUIDList",
    "description" : "Alle Operationen für RezeptListen per Rezept-UID"
  } ],
  "paths" : {
    "/apotheke/{apoik}/rezept" : {
      "get" : {
        "tags" : [ "RezeptIDList" ],
        "summary" : "liefert eine Liste von Rezepten  einer Apotheke",
        "description" : "Für die angegebene ApoIK werden alle Rezepte zurückgegeben.\r\n\r\n Optional kann ein Rezepttyp angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Optional kann ein Zeitraum in der Form yyyy-mm angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Es werden solange neue Datensätze zurückgegenben, bis keine neuen mehr vorhanden sind.",
        "operationId" : "getRezeptIdList",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "query",
          "description" : ".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "maxnum",
          "in" : "query",
          "description" : "maximale Anzahl der Rezepte, die zurückgegeben werden",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "zeitraum",
          "in" : "query",
          "description" : "Welcher Zeitraum im Format YYYY-MM",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert eine Liste mit den gefundenen Rezepten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rezept"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rezept"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/neu" : {
      "get" : {
        "tags" : [ "RezeptIDList" ],
        "summary" : "Abfrage aller neuen Rezepte einer Apotheke",
        "description" : "Für die angegebene ApoIK werden alle Rezepte zurückgegeben, die noch nicht abgeholt wurden. \r\n\r\n Optional kann ein Zeitraum in der Form yyyy-mm angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Es werden solange neue Datensätze zurückgegenben, bis keine neuen mehr vorhanden sind.",
        "operationId" : "getRezeptIdListByTransfer",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "query",
          "description" : ".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "zeitraum",
          "in" : "query",
          "description" : "Welcher Zeitraum im Format YYYY-MM",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert eine Liste der Status aller Rezepte",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RezeptStatus"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RezeptStatus"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/status" : {
      "get" : {
        "tags" : [ "RezeptIDList" ],
        "summary" : "Statusabfrage aller Rezepte einer Apotheke",
        "operationId" : "getRezeptIdListByStatus",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "query",
          "description" : ".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "zeitraum",
          "in" : "query",
          "description" : "Welcher Zeitraum im Format YYYY-MM",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert eine Liste der Status aller Rezepte",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RezeptStatus"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RezeptStatus"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/abholung" : {
      "put" : {
        "tags" : [ "RezeptIDList" ],
        "summary" : "Änderung des Abholstatus einer Liste von Rezepten",
        "description" : "ändert Abholstatus einer Liste von Rezepten",
        "operationId" : "putRezeptIdListAbholstatus",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns the newly created item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Validation exception"
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/pruefung" : {
      "put" : {
        "tags" : [ "RezeptIDList" ],
        "summary" : "prüft eine Liste von Rezepten",
        "description" : "Vorprüfung einer Liste von Rezepten",
        "operationId" : "putRezeptIdListPruefung",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "optionaler eMuster16 Datensatz",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Rezept"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Rezept"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Liefert das Rezept für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RezeptPruefRes"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RezeptPruefRes"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/{reztyp}/{rezid}" : {
      "get" : {
        "tags" : [ "RezeptID" ],
        "summary" : "liefert ein Rezept",
        "operationId" : "getRezeptId",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "path",
          "description" : ".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "rezid",
          "in" : "path",
          "description" : "Die RezeptID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert das Rezept für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "RezeptID" ],
        "summary" : "löscht ein Rezept",
        "operationId" : "deleteRezeptId",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "path",
          "description" : ".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "rezid",
          "in" : "path",
          "description" : "Die RezeptID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert das Rezept für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "RezeptID" ],
        "summary" : "Statusänderung eines Rezeptes",
        "description" : "Statusänderung eines Rezeptes",
        "operationId" : "patchRezeptIdStatus",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "path",
          "description" : ".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ERezept", "MRezept", "PRezept" ]
          }
        }, {
          "name" : "rezid",
          "in" : "path",
          "description" : "Die Rezept-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RezeptStatus"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/RezeptStatus"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Liefert den Status des Rezeptes für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}/rezept/{reztyp}/{rezid}/status" : {
      "get" : {
        "tags" : [ "RezeptID" ],
        "summary" : "Statusabfrage eines Rezeptes",
        "description" : "Statusabfrage eines Rezeptes",
        "operationId" : "getRezeptIdStatus",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reztyp",
          "in" : "path",
          "description" : ".",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          }
        }, {
          "name" : "rezid",
          "in" : "path",
          "description" : "Die Rezept-ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert den Status des Rezeptes für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/rezept/{ruid}" : {
      "get" : {
        "tags" : [ "RezeptUID" ],
        "summary" : "liefert ein Rezept",
        "operationId" : "getRezeptUId",
        "parameters" : [ {
          "name" : "ruid",
          "in" : "path",
          "description" : "Die Rezept UID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert das gefundene Rezepte.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rezept"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rezept"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      },
      "delete" : {
        "tags" : [ "RezeptUID" ],
        "summary" : "löscht ein Rezept",
        "operationId" : "deleteRezeptUId",
        "parameters" : [ {
          "name" : "ruid",
          "in" : "path",
          "description" : "Die Rezept UID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liefert das Rezept für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_write" ]
        } ]
      },
      "patch" : {
        "tags" : [ "RezeptUID" ],
        "summary" : "Statusänderung eines Rezeptes",
        "description" : "Statusänderung eines Rezeptes",
        "operationId" : "patchRezeptUIdStatus",
        "parameters" : [ {
          "name" : "ruid",
          "in" : "path",
          "description" : "Die Rezept UID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RezeptStatus"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/RezeptStatus"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Liefert den Status des Rezeptes für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/rezept/abholung" : {
      "put" : {
        "tags" : [ "RezeptUIDList" ],
        "summary" : "Änderung des Abholstatus einer Liste von Rezepten",
        "description" : "ändert Abholstatus einer Liste von Rezepten",
        "operationId" : "putRezeptUIdListAbholstatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            },
            "application/*+json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns the newly created item",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Abholstatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Validation exception"
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/rezept/pruefung" : {
      "put" : {
        "tags" : [ "RezeptUIDList" ],
        "summary" : "prüft eine Liste von Rezepten",
        "description" : "Vorprüfung einer Liste von Rezepten",
        "operationId" : "putRezeptUidListPruefung",
        "requestBody" : {
          "description" : "optionaler eMuster16 Datensatz",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Rezept"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Rezept"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Liefert das Rezept für die ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RezeptPruefRes"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RezeptPruefRes"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke" : {
      "get" : {
        "tags" : [ "Apotheke" ],
        "summary" : "liefert eine Liste aller Apotheken",
        "operationId" : "getApothekenList",
        "responses" : {
          "200" : {
            "description" : "Liefert eine Liste mit den gefundenen Rezepten.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Apotheke"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Apotheke"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    },
    "/apotheke/{apoik}" : {
      "get" : {
        "tags" : [ "Apotheke" ],
        "summary" : "liefert Details einer Apotheke",
        "operationId" : "getApothekeByIK",
        "parameters" : [ {
          "name" : "apoik",
          "in" : "path",
          "description" : "Die Apotheken IK.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "liefert Details einer Apotheke.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Apotheke"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Apotheke"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "BasicAuth" : [ "arz_read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "RezeptPruefRes" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "$ref" : "#/components/schemas/RezeptStatus"
          }
        },
        "example" : {
          "status" : {
            "typ" : "ERezept",
            "id" : 1,
            "status" : ""
          }
        }
      },
      "RezeptStatus" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Status des E-Rezepts",
            "format" : "int32",
            "example" : 1
          },
          "typ" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          },
          "status" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/MRezeptStatus"
            }, {
              "$ref" : "#/components/schemas/ERezeptStatus"
            } ]
          }
        },
        "example" : {
          "typ" : "ERezept",
          "id" : 1,
          "status" : ""
        }
      },
      "MRezeptStatus" : {
        "title" : "M-Status",
        "type" : "string",
        "description" : "Der Status des eMuster16",
        "enum" : [ "VOR_PRUEFUNG", "FEHLER", "VERBESSERBAR", "ABRECHENBAR", "HINWEIS" ]
      },
      "ERezeptStatus" : {
        "title" : "E-Status",
        "type" : "string",
        "description" : "Der Statuswert des E-Rezeptes",
        "enum" : [ "VOR_PRUEFUNG", "VOR_ABRECHNUNG", "FEHLER", "VERBESSERBAR  ", "RUECKWEISUNG", "ABGERECHNET", "STORNIERT", "HINWEIS", "ABRECHENBAR" ]
      },
      "RezeptTyp" : {
        "type" : "string",
        "enum" : [ "ERezept", "MRezept", "PRezept" ]
      },
      "Rezept" : {
        "title" : "Rezept",
        "type" : "object",
        "properties" : {
          "typ" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          },
          "data" : {
            "type" : "string"
          }
        },
        "description" : "base64 codierte Leistung",
        "example" : {
          "data" : "data",
          "typ" : "ERezept"
        }
      },
      "Abholstatus" : {
        "required" : [ "abgeholt", "id", "typ" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "typ" : {
            "$ref" : "#/components/schemas/RezeptTyp"
          },
          "abgeholt" : {
            "type" : "boolean"
          }
        },
        "example" : {
          "abgeholt" : true,
          "typ" : "ERezept",
          "id" : "id"
        }
      },
      "Apotheke" : {
        "required" : [ "ik", "name" ],
        "type" : "object",
        "properties" : {
          "ik" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        },
        "example" : {
          "ik" : "ik",
          "name" : "name"
        }
      },
      "Error" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "NotFound" : {
        "description" : "The specified resource was not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized" : {
        "description" : "Unauthorized",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "default" : {
        "description" : "Unexpected error",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "BasicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    }
  }
}
