{
  "openapi": "3.0.0",
  "info": {
    "title": "Webservice ArzTI API",
    "description": "Kommunikation des Webservers mit den jeweiligen Rechenzentren\n* UC: Abruf der eRezept-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Abruf der eMuster16-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Abruf der pRezept-Daten - neue (noch nicht gesendete) | eRezept-ID | Zeitraum\n* UC: Aktualisierung des eRezept-Status - eRezept-ID\n* UC: Löschen eines eRezepts - eRezept-ID\n* UC: Aktualisierung von Kundendaten (Apotheke -> Rechenzentrum Zuordnung) - Apotheke-IK\n* UC: ... ",
    "version": "V1"
  },
  "servers": [
    {
      "url": "http://arzsoftware.de/v1",
      "description": "Main (production) server"
    },
    {
      "url": "http://staging-api.arzsoftware.de",
      "description": "Internal staging server for testing"
    }
  ],
  "paths": {
    "/apotheke/{apoik}/rezept": {
      "get": {
        "tags": [
          "RezeptList"
        ],
        "summary": "liefert eine Liste von Rezepten  einer Apotheke",
        "description": "Für die angegebene ApoIK werden alle Rezepte zurückgegeben.\r\n\r\n Optional kann ein Rezepttyp angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Optional kann ein Zeitraum in der Form yyyy-mm angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Es werden solange neue Datensätze zurückgegenben, bis keine neuen mehr vorhanden sind.",
        "operationId": "getRezeptIdList",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "query",
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "maxnum",
            "in": "query",
            "description": "maximale Anzahl der Rezepte, die zurückgegeben werden",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "zeitraum",
            "in": "query",
            "description": "Welcher Zeitraum im Format YYYY-MM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Status values that need to be considered for filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert eine Liste mit den gefundenen Rezepten.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rezept"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rezept"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}/rezept/status": {
      "get": {
        "tags": [
          "RezeptList"
        ],
        "summary": "Statusabfrage aller Rezepte einer Apotheke",
        "operationId": "getRezeptIdStatusList",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "query",
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "zeitraum",
            "in": "query",
            "description": "Welcher Zeitraum im Format YYYY-MM",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert eine Liste der Status aller Rezepte",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "RezeptIDList"
        ],
        "summary": "Statusänderung einer Liste von Rezepten",
        "description": "Statusänderung einer Liste von Rezepten",
        "operationId": "patchRezeptIdListStatus",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liefert den Status einer Liste von Rezepten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read",
              "arz_write"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}/rezept/abholung": {
      "get": {
        "tags": [
          "RezeptList"
        ],
        "summary": "Abfrage aller neuen Rezepte einer Apotheke",
        "description": "Für die angegebene ApoIK werden alle Rezepte zurückgegeben, die noch nicht abgeholt wurden. \r\n\r\n Optional kann ein Zeitraum in der Form yyyy-mm angegeben werden und die maximale Anzahl der Datensätze, die zurückgegeben werden. \r\n\r\n Es werden solange neue Datensätze zurückgegenben, bis keine neuen mehr vorhanden sind.",
        "operationId": "getRezeptIdListAbholstatus",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "query",
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "zeitraum",
            "in": "query",
            "description": "Welcher Zeitraum im Format YYYY-MM",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert eine Liste der Status aller Rezepte",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rezept"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rezept"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "RezeptIDList"
        ],
        "summary": "Änderung des Abholstatus einer Liste von Rezepten",
        "description": "ändert Abholstatus einer Liste von Rezepten",
        "operationId": "patchRezeptIdListAbholstatus",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptId"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptId"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the newly created item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abholstatus"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abholstatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}/rezept/pruefung": {
      "get": {
        "tags": [
          "RezeptIDList"
        ],
        "summary": "Statusabfrage aller Rezepte einer Apotheke",
        "operationId": "getRezeptIdListPruefRes",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "query",
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "zeitraum",
            "in": "query",
            "description": "Welcher Zeitraum im Format YYYY-MM",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Status values that need to be considered for filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert eine Liste der Status aller Rezepte",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptPruefResult"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptPruefResult"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "RezeptIDList"
        ],
        "summary": "prüft eine Liste von Rezepten",
        "description": "Vorprüfung einer Liste von Rezepten",
        "operationId": "putRezeptIdListPruefung",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "user to add to the system",
          "content": {
            "text/plain": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptId"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptId"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptId"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "die Liste wurde akzeptiert"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}/rezept/{reztyp}/{rezid}": {
      "get": {
        "tags": [
          "RezeptID"
        ],
        "summary": "liefert ein Rezept",
        "description": "",
        "operationId": "getRezeptId",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "path",
            "required": true,
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "rezid",
            "in": "path",
            "required": true,
            "description": "Die RezeptID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert das Rezept für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "RezeptID"
        ],
        "summary": "löscht ein Rezept",
        "description": "",
        "operationId": "deleteRezeptId",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "path",
            "required": true,
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "rezid",
            "in": "path",
            "required": true,
            "description": "Die RezeptID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert das Rezept für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "RezeptID"
        ],
        "summary": "Statusänderung eines Rezeptes",
        "description": "Statusänderung eines Rezeptes",
        "operationId": "patchRezeptIdStatus",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "path",
            "required": true,
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "rezid",
            "in": "path",
            "required": true,
            "description": "Die Rezept-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Status value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert den Status des Rezeptes für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}/rezept/{reztyp}/{rezid}/status": {
      "get": {
        "tags": [
          "RezeptID"
        ],
        "summary": "Statusabfrage eines Rezeptes",
        "description": "Statusabfrage eines Rezeptes",
        "operationId": "getRezeptIdStatus",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reztyp",
            "in": "path",
            "required": true,
            "description": ".",
            "schema": {
              "$ref": "#/components/schemas/RezeptTyp"
            }
          },
          {
            "name": "rezid",
            "in": "path",
            "required": true,
            "description": "Die Rezept-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert den Status des Rezeptes für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/rezept/{ruid}": {
      "get": {
        "tags": [
          "RezeptUID"
        ],
        "summary": "liefert ein Rezept",
        "description": "",
        "operationId": "getRezeptUId",
        "parameters": [
          {
            "name": "ruid",
            "in": "path",
            "required": true,
            "description": "Die Rezept UID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert das gefundene Rezepte.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "RezeptUID"
        ],
        "summary": "löscht ein Rezept",
        "description": "",
        "operationId": "deleteRezeptUId",
        "parameters": [
          {
            "name": "ruid",
            "in": "path",
            "required": true,
            "description": "Die Rezept UID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert das Rezept für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rezept"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_write"
            ]
          }
        ]
      }
    },
    "/rezept/{ruid}/status": {
      "get": {
        "tags": [
          "RezeptUID"
        ],
        "summary": "liefert den Status eines Rezepts",
        "description": "",
        "operationId": "getRezeptUIdStatus",
        "parameters": [
          {
            "name": "ruid",
            "in": "path",
            "required": true,
            "description": "Die Rezept UID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert das gefundene Rezepte.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "RezeptUID"
        ],
        "summary": "Statusänderung eines Rezeptes",
        "description": "Statusänderung eines Rezeptes",
        "operationId": "patchRezeptUIdStatus",
        "parameters": [
          {
            "name": "ruid",
            "in": "path",
            "required": true,
            "description": "Die Rezept UID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Status value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liefert den Status des Rezeptes für die ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/rezept/abholung": {
      "patch": {
        "tags": [
          "RezeptUIDList"
        ],
        "summary": "Änderung des Abholstatus einer Liste von Rezepten",
        "description": "ändert Abholstatus einer Liste von Rezepten",
        "operationId": "patchRezeptUIdListAbholstatus",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptUId"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptUId"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the newly created item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abholstatus"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abholstatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_write"
            ]
          }
        ]
      }
    },
    "/rezept/pruefung": {
      "put": {
        "tags": [
          "RezeptUIDList"
        ],
        "summary": "prüft eine Liste von UUID Rezepten",
        "description": "Vorprüfung einer Liste von UUID Rezepten",
        "operationId": "putRezeptUidListPruefung",
        "requestBody": {
          "description": "optionaler Datensatz",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptUId"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptUId"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "zur Prüfung angenommen"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/rezept/status": {
      "patch": {
        "tags": [
          "RezeptUIDList"
        ],
        "summary": "Statusänderung einer Liste von Rezepten",
        "description": "Statusänderung einer Liste von Rezepten",
        "operationId": "patchRezeptUIdListStatus",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RezeptStatus"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liefert den Status einer Liste von Rezepten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RezeptStatus"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read",
              "arz_write"
            ]
          }
        ]
      }
    },
    "/apotheke": {
      "get": {
        "tags": [
          "Apotheke"
        ],
        "summary": "liefert eine Liste aller Apotheken",
        "description": "",
        "operationId": "getApothekenList",
        "responses": {
          "200": {
            "description": "Liefert eine Liste mit den gefundenen Rezepten.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apotheke"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apotheke"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    },
    "/apotheke/{apoik}": {
      "get": {
        "tags": [
          "Apotheke"
        ],
        "summary": "liefert Details einer Apotheke",
        "description": "",
        "operationId": "getApothekeByIK",
        "parameters": [
          {
            "name": "apoik",
            "in": "path",
            "required": true,
            "description": "Die Apotheken IK.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "liefert Details einer Apotheke.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apotheke"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Apotheke"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": ""
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": ""
          }
        },
        "security": [
          {
            "BasicAuth": [
              "arz_read"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RezeptStatus": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/RezeptId"
          },
          "uid": {
            "$ref": "#/components/schemas/RezeptUId"
          },
          "status": {
            "type": "string",
            "description": "Status des Rezepts"
          }
        }
      },
      "RezeptTyp": {
        "type": "string",
        "description": "E-, M-, oder P-Rezept",
        "enum": [
          "ERezept",
          "MRezept",
          "PRezept"
        ]
      },
      "Rezept": {
        "title": "Rezept",
        "type": "object",
        "description": "base64 codierte Leistung",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/RezeptId"
          },
          "uid": {
            "$ref": "#/components/schemas/RezeptUId"
          },
          "data": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status des Rezepts"
          },
          "apoik": {
            "type": "string"
          }
        }
      },
      "RezeptId": {
        "title": "Rezept",
        "type": "object",
        "description": "die Rezept ID",
        "properties": {
          "typ": {
            "$ref": "#/components/schemas/RezeptTyp"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "RezeptUId": {
        "title": "Rezept",
        "type": "object",
        "description": "die Rezept RUID",
        "properties": {
          "ruid": {
            "type": "string"
          }
        }
      },
      "RezeptPruefResult": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/RezeptId"
          },
          "uid": {
            "$ref": "#/components/schemas/RezeptUId"
          },
          "statusinfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Statusinfo"
            }
          }
        }
      },
      "Statusinfo": {
        "type": "object",
        "properties": {
          "fcode": {
            "type": "string"
          },
          "fstatus": {
            "type": "string"
          },
          "fkommentar": {
            "type": "string"
          },
          "ftcode": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          },
          "fkurztext": {
            "type": "string"
          }
        }
      },
      "Abholstatus": {
        "type": "object",
        "required": [
          "abgeholt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/RezeptId"
          },
          "uid": {
            "$ref": "#/components/schemas/RezeptUId"
          },
          "abgeholt": {
            "type": "boolean"
          }
        }
      },
      "Apotheke": {
        "type": "object",
        "required": [
          "ik",
          "name"
        ],
        "properties": {
          "ik": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "default": {
        "description": "Unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "RezeptID",
      "description": "Alle Operationen für ein Rezept per Rezept-ID"
    },
    {
      "name": "RezeptUID",
      "description": "Alle Operationen für ein Rezept per Rezept-UID"
    },
    {
      "name": "RezeptIDList",
      "description": "Alle Operationen für RezeptListen per Rezept-ID"
    },
    {
      "name": "RezeptUIDList",
      "description": "Alle Operationen für RezeptListen per Rezept-UID"
    }
  ]
}